{% extends "../layout.html" %}
{% block body%}
<link rel="stylesheet" type="text/css" href="/static/css/mergepdf.css">

<div class="section">
	<div class="container">
		<div class="row">
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="col-12">
					<div class="upload-file">
						<div class="row">
							<div class="col-12">
								<h2 style="text-align: center;margin-bottom: 35px;"> Merge PDF</h2>
							</div>
		
						</div>
						<div class="upload-wrapper">
							<label>
								<input type="file" name="files[]" id="files" multiple accept="application/pdf">
								<p>Drop your files here. <br>or <a>Browse</a></p>
							</label>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row">
						<div class="col-12" style="margin-top: 30px;">
							<h2 class="mb-0">Uploaded Files</h2>
						</div>
					</div>
					<output id="image-gallery"></output>
				</div>

				<button class="cssbuttons-io-button" id="mergerb"> Get started
					<div class="icon">
					<svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
					</div>
				</button>
			</form>
		</div>
	</div>
</div>

<script src="/static/js/mergepdf.js"></script>

{% endblock %}