{% extends "layout.html" %}
{% block meta %}
<title>Tools Band - Image & Text Converter | Encryption,Decryption</title>  
      <meta name="description" content= "Tools Band website is a online tools website to make work easy. It has the image conversion, text conversion, encryption and decryption functionality." />
      <meta name="robots" content= "index, follow">
{% endblock meta %}
{% block body%}

<div class="section">
    <h2 class="homeh2" style="text-align:center"><u> Online Tools For Make Work Easy.</u></h2>
    <div class="container" style="margin-top:30px">
        <div class="row">
           <div class="col-sm">
                <a class="homeacn" href="/image-converter/jpg-to-png">
                    <div class="myccard">
                        <img src="/static/images/icon/image.png" alt="JPG To PNG Image Converter" class="homeimgicon">
                        <h5 class="logoiconh2">JPG To PNG Image Converter</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/image-converter/jpeg-to-png">
                    <div class="myccard">
                        <img src="/static/images/icon/image2.png" alt="JPEG To PNG Image Converter" class="homeimgicon">
                        <h5 class="logoiconh2">JPEG To PNG Image Converter</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/image-converter/png-to-jpg">
                    <div class="myccard">
                        <img src="/static/images/icon/image3.png" alt="PNG To JPG Image Converter" class="homeimgicon">
                        <h5 class="logoiconh2">PNG To JPG Image Converter</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/image-converter/png-to-jpeg">
                    <div class="myccard">
                        <img src="/static/images/icon/image4.png" alt="PNG To JPEG Image Converter" class="homeimgicon">
                        <h5 class="logoiconh2">PNG To JPEG Image Converter</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/image-converter/image-to-pdf">
                    <div class="myccard" style="height:176px">
                        <img src="/static/images/icon/image5.png" alt="Image To PDF Converter" class="homeimgicon">
                        <h5 class="logoiconh2">Image To PDF Converter</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/bomber/sms-bomber">
                    <div class="myccard" style="height:176px">
                        <img src="/static/images/icon/image6.png" alt="SMS Bomber" class="homeimgicon">
                        <h5 class="logoiconh2">SMS Bomber</h5>
                    </div>
                </a>
            </div>
        </div>
        

        <div class="row rowtop">
           <div class="col-sm">
                <a class="homeacn" href="/text-converter/text-to-uppercase">
                    <div class="myccard">
                        <img src="/static/images/icon/image8.png" alt="Text To Uppercase" class="homeimgicon">
                        <h5 class="logoiconh2">Text To Uppercase</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/text-converter/text-to-lowercase">
                    <div class="myccard">
                        <img src="/static/images/icon/image7.png" alt="Text To Lowercase" class="homeimgicon">
                        <h5 class="logoiconh2">Text To Lowercase</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/text-converter/text-to-capitalize">
                    <div class="myccard">
                        <img src="/static/images/icon/image9.png"  alt="Text To Capitalize"  class="homeimgicon">
                        <h5 class="logoiconh2">Text To Capitalize</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/text-converter/replace-text">
                    <div class="myccard">
                        <img src="/static/images/icon/image10.png" alt="Replace Text" class="homeimgicon">
                        <h5 class="logoiconh2">Replace Text</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/text-converter/remove-space">
                    <div class="myccard">
                        <img src="/static/images/icon/image11.png"  alt="Remove Space From Text" class="homeimgicon">
                        <h5 class="logoiconh2">Remove Space From Text</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/text-converter/text-reverse">
                    <div class="myccard">
                        <img src="/static/images/icon/image12.png" alt="Text Reverse" class="homeimgicon">
                        <h5 class="logoiconh2">Text Reverser</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="row rowtop">
           <div class="col-sm">
                <a class="homeacn" href="/text-converter/repeat-text">
                    <div class="myccard">
                        <img src="/static/images/icon/image13.png" alt="Repeat Text" class="homeimgicon">
                        <h5 class="logoiconh2">Repeat Text</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/text-converter/word-count">
                    <div class="myccard">
                        <img src="/static/images/icon/image14.png" alt="Word Count In Text" class="homeimgicon">
                        <h5 class="logoiconh2">Word Count In Text</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/md5-generator">
                    <div class="myccard">
                        <img src="/static/images/icon/image15.png" alt="MD5 Generator" class="homeimgicon">
                        <h5 class="logoiconh2">MD5 Generator</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/base64-encode">
                    <div class="myccard">
                        <img src="/static/images/icon/image16.png" alt="Base 64 Encode Encoded" class="homeimgicon">
                        <h5 class="logoiconh2">Base 64 Encode Encoded</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/base64-decoded">
                    <div class="myccard">
                        <img src="/static/images/icon/image17.png" alt="Base 64 Encode Decode" class="homeimgicon">
                        <h5 class="logoiconh2">Base 64 Encode Decode</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/sha512-hash-generator">
                    <div class="myccard">
                        <img src="/static/images/icon/image19.png" alt="SHA-512 Hash Generator" class="homeimgicon">
                        <h5 class="logoiconh2">SHA-512 Hash Generator</h5>
                    </div>
                </a>
            </div>
        </div>


        <div class="row rowtop">
           <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/sha256-hash-generator">
                    <div class="myccard">
                        <img src="/static/images/icon/image18.png" alt="SHA-256 Hash Generator" class="homeimgicon">
                        <h5 class="logoiconh2">SHA-256 Hash Generator</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/sha384-hash-generator">
                    <div class="myccard">
                        <img src="/static/images/icon/image20.png" alt="SHA-384 Hash Generator" class="homeimgicon">
                        <h5 class="logoiconh2">SHA-384 Hash Generator</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/sha224-hash-generator">
                    <div class="myccard">
                        <img src="/static/images/icon/image21.png" alt="SHA-224 Hash Generator" class="homeimgicon">
                        <h5 class="logoiconh2">SHA-224 Hash Generator</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a class="homeacn" href="/encryption-decryption/sha1-hash-generator">
                    <div class="myccard">
                        <img src="/static/images/icon/image22.png" alt="SHA-1 Hash Generator" class="homeimgicon">
                        <h5 class="logoiconh2">SHA-1 Hash Generator</h5>
                    </div>
                </a>
            </div>
            
             
        </div>

    </div>
</div>



<div class="section">
    <h2 class="homeh2" style="text-align:center"><u> Top News</u></h2>

    <div class="container">
        <div class="row">


            {% for pd in page_details %}
            <div class="col-sm-4">
                <article class="post-item">
                    <a class="post-item__inner" href="/blog/news/{{ pd.link }}">
                        <div class="post-item__thumbnail-wrapper">
                            <div class="post-item__thumbnail" style='background-image:url({{ pd.blog_image }});'></div>
                        </div>
                        <div class="post-item__content-wrapper">
                            <h2 class="post-item__title heading-size-4"><span>{{ pd.blog_heading }}</span></h2>
                            <div class="post-item__metas">
                                <time class="post-item__meta post-item__meta--date"
                                    datetime="2022-02-14T20:24:54+00:00">{{ pd.publish_date }}</time>
                            </div>
                        </div>
                    </a>
                </article>

            </div>
            {% endfor %}




        </div>
    </div>
</div>


<style>
    .posts-listing {
        display: flex;
        flex-wrap: wrap;
        max-width: 1360px;
    }

    .post-item {
        margin: 20px;
        flex: 0 0 auto;
        font-family: "Lato", sans-serif;
        font-size: 1.6rem;
    }

    .post-item__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 4px;
        background-color: #F7F8F8;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: box-shadow .2s;
        color: black;
        text-decoration: none;
    }

    .post-item__thumbnail-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: 60%;
        flex: 0 0 auto;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        overflow: hidden;
        transition: clip-path .2s;
    }

    .post-item__thumbnail {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        transition: transform .3s;
    }

    .post-item__thumbnail-wrapper:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: linear-gradient(to top, rgba(136, 27, 132, 0.2), rgba(162, 77, 211, 0.03));
    }

    .post-item__content-wrapper {
        padding: 14px;
        position: relative;
        height: auto;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .post-item__title {
        color: white;
        line-height: 1.6;
        margin-top: -4rem;
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .post-item__title span {
        display: inline;
        background-image: linear-gradient(to right, rgba(162, 77, 211), rgba(136, 27, 132));
        padding: .2rem .6rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    .post-item__metas {
        margin-bottom: 5px;
    }

    .post-item__meta--date {
        color: #6d6d6d;
        letter-spacing: 0.01rem;
        font-size: 12px;
    }

    .post-item__meta--category {
        display: inline-block;
        background-color: #a24dd3;
        color: white;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.01rem;
        font-weight: 700;
        padding: 2px;
    }

    .post-item__excerpt {
        margin-bottom: 2rem;
    }

    .post-item__read-more-wrapper {
        margin-top: auto;
    }

    .post-item__read-more {
        padding: 3px 0;
        display: inline;
        background-image: linear-gradient(#a24dd3, #a24dd3);
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-position: left bottom;
        transition: background-size .3s;
    }

    /* hover state */

    .post-item__inner:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .post-item__inner:hover .post-item__thumbnail-wrapper {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .post-item__inner:hover .post-item__thumbnail {
        transform: scale(1.1);
    }

    .post-item__inner:hover .post-item__read-more {
        background-size: 30% 2px;
    }
</style>



<style>
    .myccard {
    padding: 8px;
    box-shadow: 0px 0px 7px 3px #c4c1c7;
    height:176px;
}
.homeimgicon{
    width: auto;
    height: 70px;
    display: block;
    margin: auto;
}
.logoiconh2{
    text-align:center;
    color:black;
    text-decoration:none;
    margin-top:10px;
}
.homeacn{
    text-decoration: blink;
}
.rowtop{
    margin-top:20px
}

@media (max-width: 700px) {
		.myccard {
			margin-top:10px;
		}
        .homeh2{
            margin-top:-60px;
        }
}
</style>
{% endblock %}
